.idea
.vscode
node_modules
vendor
build
coverage
.env
.env.backup
.php_cs.cache
.phpunit.result.cache
.phpunit.cache
.phpstorm.meta.php
_ide_helper*.php
_ide_macros*.php
npm-debug.log
yarn-error.log
composer.phar
composer.lock
