parameters:
  level: 6
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false
  paths:
    - src
  ignoreErrors:
    - '#Parameter .+? of method Illuminate\\Support\\Collection<.+?>::.+?\(\) expects .+? given#'
